//RESET STYLE
@import "../css/reset.min.css";
//PROJECT VARIABLES
@import "standarts.less";

img {
    max-width: 100%;
} 

input:focus,
textarea:focus {
    outline: none;
} 


//HEADERS
h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: @MS;
    font-weight: 900;
    letter-spacing: 3px;
}

h2 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 20px;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//STYLE
body {
    .main_font;
    background: url(../img/bg_main.jpg);
}

.container {
    width: 1144px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    color: @LC;
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

.more {
    font-style: italic;
    color: @BC2;
    text-decoration: underline;
}

//page content
.content_box {
    .textStandart;
    position: relative;
    z-index: 20;
    table {
        width: 100%;
        margin-bottom: 20px;
        td {
            padding: 5px;
        }
        thead {
            td {
                font-size: 12px;
                color: #8b8b8b;
            }
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background: #f4f7fb;
                }
            }
        }
    }
    p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}

//HEADER 
.top_nav,
.bottom_nav {
    background: @BC3;
    ul {
        display: table;
        width: 100%;
        li {
            text-align: center;
            display: table-cell;
            a {
                font-size: 12px;
                text-transform: uppercase;
                padding: 17px 10px;
                line-height: 16px;
                display: block;
                &:hover {
                    background: @BC1;
                    color: #fff;
                }
            }
            &:first-child a {
                padding: 17px 30px;
            }
            &:last-child a {
                padding: 17px 30px;
            }
        }
    }
}

header {
    .info_block {
        background: #fff;
        padding: 30px;
        .logo_box {
            width: 30%;
            img {
                padding-bottom: 15px;
            }
            .slogan {
                color: @TC;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 18px;
                letter-spacing: 0.7px;
            }
        }
        .worktime_box {
            text-align: right;
            width: 20%;
            .worktime {
                margin-bottom: 15px;
                span {
                    display: block;
                    color: #8b8b8b;
                    font-size: 12px;
                    line-height: 4px;
                }
                p {
                    font-size: 18px;
                    font-weight: 600;
                }
                img {
                    padding-right: 10px;
                    position: relative;
                    top: 5px;
                }
            }
        }
        .phone_block {
            background: url(../img/russia-vector-map-karta-rossii.png) no-repeat center center;
            background-size: contain;
            width: 40%;
            text-align: right;
            span {
                font-size: 12px;
                color: darken(@BC3, 40%);
                display: block;
                padding-bottom: 3px;
            }
            .phone_box {

                .big_phone {
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 600;
                }
                p {
                    font-size: 18px;
                    line-height: 24px;
                    flex-wrap: 400;
                }
            }
            .additional_phones {
                text-align: right;
                .block_header {
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: 900;
                    padding-bottom: 9px;
                }
                span {
                    padding-right: 10px;
                }
                p {
                    font-size: 16px;
                }
                div {
                    padding-bottom: 10px;
                }
                .delivery {
                    color: @BC1;
                    font-size: 10px;
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
        }
    }
    .catalog_menu {
        background: #fff;
        padding-bottom: @MS;
        ul {
            li {
                width: 25%;
                text-align: center;
                background: @BC1;
                a {
                    color: #fff;
                    padding: 17px 10px;
                    display: block;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                    border-right: 1px solid #174897;
                    letter-spacing: 0.4px;
                }
                &:first-child {
                    background: @BC2;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

//MAIN PAGES CONTENT
.main {
    background: #fff;
    padding: 0 30px;
    padding-bottom: @MS;
    .breadcrumbs_box {
        margin-bottom: @MS/2;
        ul > li {
            display: inline-block;
            text-transform: uppercase;
            font-size: 12px;
            &:before {
                content: "\f105";
                font-family: fontawesome;
                padding: 0 6px;

            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
            &:last-child {
                &:before {
                    display: none;
                }
                letter-spacing: 3.5px;
                display: block;
                padding-top: 6px;
            }
        }
    }
}

.promo_block_1 {
    text-align: center;
    padding-bottom: @MS;
    .item {
        width: 25%;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        span {
            font-weight: 900;
        }
    }
}

.promo_block_2 {
    background: #e9e9da;
    margin-left: -30px;
    margin-right: -30px;
    padding: 30px;
    line-height: 20px;
    .block_header {
        font-weight: 900;
        margin-bottom: 30px;
        font-size: 16px;
    }
}

.promo_block_3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #e9e9da;
    .item {
        width: 25%;
        text-align: center;
        .img_box {
            min-height: 70px;
        }
        img {
            padding-bottom: 15px;
        }
        p {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.promo_block_4 {
    padding-bottom: @MS;
    img {
        max-width: 70px;
        padding-right: 10px;
    }
    .img_box {
        display: inline-block;
        padding-right: 20px;
    }
    .text_box {
        display: inline-block;

        font-weight: 900;
        line-height: 20px;
        .more {
            text-decoration: none;
            color: @BC1;
            font-style: normal;
            padding-top: 10px;
            display: block;
        }
    }
}

.compare_tables {
    padding-bottom: @MS;
} 

.product_carousel{
    overflow: hidden; 
    width: 100%;
    padding-bottom: @MS;
    
} 
.main_slider{
    overflow: hidden;
    width: 100%;
    line-height: 0px;
    background: #fff;
    padding-bottom: @MS;
    margin-top: -@MS;
    img{
        max-height: 300px;
    }
}
.owl-item {
    display: inline-block;
    line-height: 0px;
    a {
        line-height: 0px;
    }
}
.owl-nav {
    &.disabled {
        display: none; 
    }
}
.owl-dots .owl-dot span {
    background: #eaeff8;
    transition: 0.3s;
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #2d64bf;
    cursor: pointer;
}

.compare_button {
    width: 60%;
    margin: 0 auto;
    img {
        position: relative;
        right: 10px;
        top: 6px;
        margin-top: -3px;
        margin-bottom: -3px;
    }
}

.download_link {
    padding-left: 30px;
    color: @BC1;
    font-weight: 900;
    font-size: 16px;
    position: relative;
    display: block;
    &:before {
        content: "";
        height: 20px;
        width: 20px;
        display: block;
        background: url(../img/ios-download.png) no-repeat center center;
        position: absolute;
        left: 0;
        top: -4px;
    }
}

//CATALOG
.button_block {
    margin-bottom: @MS;
    span {
        padding: 8px;
        border: 1px solid @BC1;
        text-align: center;
        color: @BC1;
        font-size: 12px;
        display: inline-block;
        margin-right: -4px;
        margin-bottom: -1px;
        transition: 0.3s;
        &:first-child {
            border-radius: 2px 0 0 0;
        }
        &:last-child {
            border-radius: 0 0 2px 0;
        }
        &.checked,
        &:hover {
            color: #fff;
            background: @BC1;
            cursor: pointer;
        }
    }
}

.catalog_block{
    margin-bottom: @MS;
    .catalog_box{
        margin-bottom: @MS;
        font-size: 10px;
        position: relative;
        z-index: 100;
        p{
            padding-bottom: 20px;
            line-height: 16px;
            font-weight:500;
        }
        .headers{
            width:70px;
            padding-top: 158px;
            p{
                color: @BC1;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
        .item{
            width:75px;
            box-shadow: 0 0 10px rgba(0,0,0,0);
            position: relative;
            z-index: 5;
            &:hover{
                box-shadow: 0 0 60px rgba(0,0,0,0.5);
                z-index: 20;
                transition:0.3s;
            }
            a{
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
            }
            .img_box{
                padding-bottom: 20px;
            }
            .img_box{
                padding: 8px;
            }
            .info{
                padding: 8px;
                p:first-child{
                    text-transform: uppercase;
                    min-height: 55px;
                    font-size: 10px;
                    padding-bottom: 15px;
                    line-height: 16px;
                }
            }
            >div:nth-child(2n+3){
                .info{
                    background: #f4f7fb;
                }
            }
        }
        &.table_view{
            p{
                span{
                    display: none;
                }
            }
            .description{
                display: none;
            }
            .img_box{
                min-height: 95px;
            }
        }
        &.block_view{
            .headers{
                display: none;
            }
            .item{
                width: 32%;
                display: flex;
                .img_box{
                    width: 40%;
                }
                .info{
                    width: 60%;
                    padding-left: 30px;
                }
                p{
                    display: none;
                }
                .info{
                    .name{
                        display: block;
                        font-size: 16px;
                        letter-spacing: 1.3px;
                        padding-bottom: 5px;
                        min-height: inherit;
                    }
                    .opt1{
                        display: block;
                        font-size: 10px;
                        letter-spacing: 2.1px;
                        padding-bottom: 5px;
                    }
                    .description{
                        display: block;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                &:hover{
                    .info{
                        .opt2, .opt3, .opt4{
                            background: @BC1;
                            padding: 10px;
                            font-size: 16px;
                            font-weight: 900;
                            color: #fff;
                            position: absolute;
                            bottom:-55px;
                            height: inherit!important;
                            span{
                                font-size: 10px;
                                padding-bottom: 5px;
                                line-height: 1.4;
                                display: block;
                                font-weight: 400;
                            }
                        }
                        .opt2{
                            display: block;
                            right:0px;
                            width: 30%;
                        }
                        .opt3{
                            display: block;
                            left: 30%;
                            width: 40%;
                        }
                        .opt4{
                            display: block;
                            left: 0%;
                            width: 30%;
                        }
                    }
                }
            }
        }
        &.main_page_catalog{ 
            flex-wrap: nowrap;
            align-self: auto;
            margin-right: -8px;
            margin-left: -8px;
            margin-bottom: 0px;
            .item .info{
                padding:0 8px;
                p{
                    min-height: 43px; 
                    padding-bottom: 10px;
                }
            }
            
        }
    }
    
}
.product_block {
    .product_illustration{
        .main_img{
            width: 75%;
            padding-right: @MS/2;
        }
        .box_counter{
            width: 25%;
            p{
                font-size: 12px;
                color: #8b8b8b;
                margin-bottom: 10px;
                text-align: center;
            }
            .counter{
                div{
                    height: 50px;
                    width: 50px;
                    border: 1px solid @BC1;
                    border-top: 0px;
                    text-align: center;
                    line-height: 50px;
                    font-size: 18px;
                    display: block;
                    margin: 0 auto;
                    color: @BC1;
                    cursor: pointer;
                    transition: 0.3s;
                    position: relative;
                    &:hover, &.selected{
                        background: @BC1;
                        color: #fff;
                        .flag{
                            display: block;
                        }
                    }
                    &:first-child{
                        border-radius: 2px 2px 0 0;
                        border-top: 1px solid @BC1;
                    }
                    &:last-child{
                        border-radius: 0 0 2px 2px;
                        border-bottom: 1px solid @BC1;
                    }
                    .flag{
                        display: none;
                        background: @BC2;
                        padding: 5px 20px;
                        color: #fff;
                        position: absolute;
                        left: -180px;
                        top: 0;
                        box-shadow: 0 0 20px rgba(0,0,0,0.5);
                        border: none;
                        width: auto;
                        line-height: 20px;
                        font-size: 14px;
                        &:after{
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-top: 25px solid transparent;
                            border-left: 15px solid #de052e;
                            border-bottom: 24px solid transparent;
                            float: right;
                            position: absolute;
                            top: 0px;
                            right: -15px;

                        }
                        &:before{
                            content: "";
                            display: block;
                            height: 10px;
                            width: 10px;
                            border-radius: 30px;
                            background: @BC2;
                            top: 20px;
                            right: -30px;
                            position: absolute;
                        }
                        span{
                            font-size: 18px;
                            display: block;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .product_info {
        .block_header {
            color: @BC5;
            font-size: 18px;
            letter-spacing: 2.6px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .subheader {
            color: @BC5;
            font-size: 14px;
            letter-spacing: 2.6px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .product_param,
        .selected_product_param {
            width: 100%;
            margin-bottom: 20px;
            span {
                display: block;
                color: #8b8b8b;
                font-size: 12px;
                margin-bottom: 5px;
            }
            p {
                font-size: 24px;
                font-weight: 900;
            }
        }
        .selected_product_param {
            margin-bottom: @MS;
            .fa{
                font-size: 16px;
            }
        }
        .description {
            line-height: 20px;
            margin-bottom: 20px;
        }
        .download_link {
            margin-bottom: 40px;
        }
        .color_block {
            .color_info {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 900;
            }
            .drop_param {
                color: @BC1;
                text-align: right;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 600;
            }
            .color_bar {
                width: 100%;
                background: @BC1;
                height: 10px;
                margin: 20px 0;
            }
            .body_color_box {
                margin-bottom: 40px;
            }
            .door_color_box {
                margin-bottom: 40px;
            }
        }
        .additional_options_block {
            margin-bottom: @MS;
            .options {
                width: 65%;
                padding-right: @MS;
                .add_price{
                    background: #e9e9da;
                    color: @BC1;
                    font-weight: 900;
                    text-align: center;
                    display: inline-block;
                    padding: 10px;
                    border-radius: 2px;
                    min-width: 70px
                }
            }
            .image{
                width: 35%;
                line-height: 0px;
                .title{
                    background: @BC1;
                    color: #fff;
                    font-size: 12px;
                    line-height: 18px;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
}

.final_price_block{
    background: #f4f7fb;
    margin-right: -30px;
    margin-left: -30px;
    margin-bottom: @MS;
    .img_box{ 
        background: #d9e7ff;
        height: 189px;
        width: 348px;
    }
    .price_info{
        padding: 30px 20px;
        .final_price{
            font-size: 48px;
            font-weight: 900;
            padding-right: 30px;
            margin-bottom: 20px;
        }
        .fa{
            font-size: 40px;
        }
        .blue_button{
            display: inline-block;
            max-width: 255px;
            line-height: 40px;
            height: 50px;
        }
        .warn{
            font-size: 14px;
            color: #8b8b8b;
            font-weight: 900;
            margin-bottom: 20px;
        }
        .more{
            color: @BC1;
            font-size: 14px;
            font-weight: 900;
        }
    }
}


//FOOTER
footer {
    background: #fff;
    padding: 0 30px;
    background: url(../img/russia-vector-map-karta-rossii.png) no-repeat 80% 20% #fff;
    background-size: 70%;
    .phone_row {
        margin-left: -30px;
        margin-right: -30px;
        background: fade(@BC1, 20%);
        padding: 20px 30px;
        margin-bottom: 30px;
        .phone {
            font-size: 24px;
            line-height: 32px;
            font-weight: 900;
            width: 80%;
            p {
                display: inline-block;
                padding-right: 30px;
                margin-bottom: 0px;
            }
            span {
                color: @BC1;
                font-size: 32px;
                line-height: 38px;
                font-weight: 900;
                display: inline-block;
                position: relative;
                top: 2px;
            }
        }
        .button {
            width: 20%;
            text-align: right;
            .red_button {
                padding: 12px;
                margin-bottom: 0px;
            }
        }
    }
    .info_block {
        margin-bottom: 60px;
        .logo_box {
            width: 35%;
            .logo {
                margin-bottom: 20px;
                img {
                    width: 165px;
                    padding-bottom: 25px;
                }
                p {
                    font-weight: 900;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            .worktime {
                margin-bottom: 25px;
                span {
                    font-size: 12px;
                    color: #8b8b8b;
                    display: block;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 18px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
                .warn {
                    color: darken(@BC2, 10%);
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        .contact_info {
            width: 20%;
            .block_header {
                color: darken(@BC2, 20%);
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 900;
                margin-bottom: 30px;
            }
            .item {
                margin-bottom: 30px;
                font-size: 12px;
                p {
                    font-weight: 900;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                span {
                    display: block;
                    margin-bottom: 5px;
                    line-height: 16px;
                }
            }
        }
    }
    .catalog_menu {
        margin-left: -30px;
        margin-right: -30px;
        background: #eaeff8;
        padding: 30px 0;
        ul {
            width: 70%;
            margin: 0 auto;
            li {
                text-transform: uppercase;
                font-size: 12px;
                color: @BC1;
                padding: 0 15px;
                font-weight: 900;
                &:before {
                    content: "";
                    height: 25px;
                    width: 20px;
                    display: inline-block;
                    background: url(../img/postbox_ico_001.png) no-repeat center center;
                    background-size: 100%;
                    position: relative;
                    right: 10px;
                    top: 6px;
                }
            }
        }
    }
    .bottom_nav {
        margin-left: -30px;
        margin-right: -30px;
    }
    .copyright {
        padding: 30px 0;
        text-align: center;
        font-size: 12px;
        color: #8b8b8b;
    }
}