//PROJECT COLORS  
//blue
@BC1: #2d64bf;
//light red 
@BC2: #de052e;
//light gray 
@BC3: #fafafa;
//dark blue
@BC4: #174897;
//dark red
@BC5: #a90505;
//text
@TC: #00324c;
//link color
@LC: #2d64bf;

//FONTS
@import "../fonts/roboto/roboto.css";

//FLEX
.row {
    display: flex;
    flex-wrap: wrap;
}

.sb {
    justify-content: space-between;
}

.baseline{
    align-items: baseline;
}
.ct {
    justify-content: center;
}

.fe {
    justify-content: flex-end;
}

.fs {
    justify-content: flex-start;
}

//Grid
.simple_row {
    margin-right: -20px;
    margin-left: -20px;
}

.one_half {
    width: 50%;
    padding: 0 20px;
}

.one_third {
    width: 33.33333333%;
    padding: 0 20px;
}

.two_third {
    width: 66.66666667%;
    padding: 0 20px;
}

.one_quarter {
    width: 25%;
    padding: 0 20px;
}

.one_fifth {
    width: 20%;
    padding: 0 20px;
}

.one_sixth {
    width: 16.66666667%;
    padding: 0 20px;
}

.main_font {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

strong{
    font-weight: 900;
}

//Block margin standart
@MS: 30px;

.paddingStandart {
    padding-bottom: 30px;
}

.marginStandart {
    margin-bottom: 30px;
}

.textStandart {
    font-size: 14px;
    line-height: 22px;
    color: @TC;
}

//FORMS
.form_control {
    input,
    textarea {
        width: 100%;
        padding: 12px;
        background: #fff;
        border: 1px solid @BC2;
        transition: 0.3s;
        margin-bottom: 20px;
        &:focus {
            outline: none;
            border: 1px solid @BC2;
            box-shadow: 0 0 10px rgba(0, 0, 60, 0.4) inset;
        }
    }
    textarea {
        min-height: 115px;
    }
}

.red_button,
.form_control .red_button {
    text-decoration: none;
    color: #fff;
    background: @BC2;
    text-align: center;
    padding: 6px 20px;
    width: 100%;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    transition: 0.3s;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
        opacity: 0.7;
    }
}

.simple_button,
.form_control .simple_button {
    border: 1px solid @BC4;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 10px;
}

.blue_button,
.form_control .blue_button {
    text-decoration: none;
    color: #fff;
    background: @BC1;
    border-radius: 2px;
    text-align: center;
    padding: 6px 20px;
    width: 100%;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    transition: 0.3s;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}


//CHECKBOX STYLED
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
.checkbox + label {
    cursor: pointer;
}
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 60px;
    height: 30px;
    display: block;
    line-height: 22px;
    margin-bottom: @MS/2;
    
}
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 30px;
    height: 30px;
    background: #f4f7fb;
    border: 1px solid @BC1;
    border-radius: 2px;
}
.checkbox:not(checked) + label:after {
    content: '\f00c';
    position: absolute;
    opacity: 0;
    font-family: fontawesome;
    color: @BC2;
    top: -1px;
    left: 4px;
    font-size: 22px;
    transition: all .2s;
}
.checkbox:checked + label:before {}

.checkbox:checked + label:after {
    opacity: 1;
}