@import "../css/reset.min.css";
@import "../fonts/roboto/roboto.css";
.row {
  display: flex;
  flex-wrap: wrap;
}
.sb {
  justify-content: space-between;
}
.baseline {
  align-items: baseline;
}
.ct {
  justify-content: center;
}
.fe {
  justify-content: flex-end;
}
.fs {
  justify-content: flex-start;
}
.simple_row {
  margin-right: -20px;
  margin-left: -20px;
}
.one_half {
  width: 50%;
  padding: 0 20px;
}
.one_third {
  width: 33.33333333%;
  padding: 0 20px;
}
.two_third {
  width: 66.66666667%;
  padding: 0 20px;
}
.one_quarter {
  width: 25%;
  padding: 0 20px;
}
.one_fifth {
  width: 20%;
  padding: 0 20px;
}
.one_sixth {
  width: 16.66666667%;
  padding: 0 20px;
}
.main_font {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
strong {
  font-weight: 900;
}
.paddingStandart {
  padding-bottom: 30px;
}
.marginStandart {
  margin-bottom: 30px;
}
.textStandart {
  font-size: 14px;
  line-height: 22px;
  color: #00324c;
}
.form_control input,
.form_control textarea {
  width: 100%;
  padding: 12px;
  background: #fff;
  border: 1px solid #de052e;
  transition: 0.3s;
  margin-bottom: 20px;
}
.form_control input:focus,
.form_control textarea:focus {
  outline: none;
  border: 1px solid #de052e;
  box-shadow: 0 0 10px rgba(0, 0, 60, 0.4) inset;
}
.form_control textarea {
  min-height: 115px;
}
.red_button,
.form_control .red_button {
  text-decoration: none;
  color: #fff;
  background: #de052e;
  text-align: center;
  padding: 6px 20px;
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}
.red_button:hover,
.form_control .red_button:hover {
  opacity: 0.7;
}
.simple_button,
.form_control .simple_button {
  border: 1px solid #174897;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 10px;
}
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
  height: 30px;
  display: block;
  line-height: 22px;
  margin-bottom: 15px;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #f4f7fb;
  border: 1px solid #2d64bf;
  border-radius: 2px;
}
.checkbox:not(checked) + label:after {
  content: '\f00c';
  position: absolute;
  opacity: 0;
  font-family: fontawesome;
  color: #de052e;
  top: -1px;
  left: 4px;
  font-size: 22px;
  transition: all .2s;
}
.checkbox:checked + label:after {
  opacity: 1;
}
img {
  max-width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}
h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 30px;
  font-weight: 900;
  letter-spacing: 3px;
}
h2 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
}
h3 {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 20px;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  background: url(../img/bg_main.jpg);
}
.container {
  width: 1144px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
  color: #2d64bf;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}
.more {
  font-style: italic;
  color: #de052e;
  text-decoration: underline;
}
.content_box {
  font-size: 14px;
  line-height: 22px;
  color: #00324c;
  position: relative;
  z-index: 20;
}
.content_box table {
  width: 100%;
  margin-bottom: 20px;
}
.content_box table td {
  padding: 5px;
}
.content_box table thead td {
  font-size: 12px;
  color: #8b8b8b;
}
.content_box table tbody tr:nth-child(even) {
  background: #f4f7fb;
}
.content_box p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.top_nav,
.bottom_nav {
  background: #fafafa;
}
.top_nav ul,
.bottom_nav ul {
  display: table;
  width: 100%;
}
.top_nav ul li,
.bottom_nav ul li {
  text-align: center;
  display: table-cell;
}
.top_nav ul li a,
.bottom_nav ul li a {
  font-size: 12px;
  text-transform: uppercase;
  padding: 17px 10px;
  display: block;
}
.top_nav ul li a:hover,
.bottom_nav ul li a:hover {
  background: #2d64bf;
  color: #fff;
}
.top_nav ul li:first-child a,
.bottom_nav ul li:first-child a {
  padding: 17px 30px;
}
.top_nav ul li:last-child a,
.bottom_nav ul li:last-child a {
  padding: 17px 30px;
}
header .info_block {
  background: #fff;
  padding: 30px;
}
header .info_block .logo_box {
  width: 30%;
}
header .info_block .logo_box img {
  padding-bottom: 15px;
}
header .info_block .logo_box .slogan {
  color: #00324c;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.7px;
}
header .info_block .worktime_box {
  text-align: right;
  width: 20%;
}
header .info_block .worktime_box .worktime {
  margin-bottom: 15px;
}
header .info_block .worktime_box .worktime span {
  display: block;
  color: #8b8b8b;
  font-size: 12px;
  line-height: 4px;
}
header .info_block .worktime_box .worktime p {
  font-size: 18px;
  font-weight: 600;
}
header .info_block .worktime_box .worktime img {
  padding-right: 10px;
  position: relative;
  top: 5px;
}
header .info_block .phone_block {
  background: url(../img/russia-vector-map-karta-rossii.png) no-repeat center center;
  background-size: contain;
  width: 40%;
  text-align: right;
}
header .info_block .phone_block span {
  font-size: 12px;
  color: #949494;
  display: block;
  padding-bottom: 3px;
}
header .info_block .phone_block .phone_box .big_phone {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
}
header .info_block .phone_block .phone_box p {
  font-size: 18px;
  line-height: 24px;
  flex-wrap: 400;
}
header .info_block .phone_block .additional_phones {
  text-align: right;
}
header .info_block .phone_block .additional_phones .block_header {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 9px;
}
header .info_block .phone_block .additional_phones span {
  padding-right: 10px;
}
header .info_block .phone_block .additional_phones p {
  font-size: 16px;
}
header .info_block .phone_block .additional_phones div {
  padding-bottom: 10px;
}
header .info_block .phone_block .additional_phones .delivery {
  color: #2d64bf;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
}
header .catalog_menu {
  background: #fff;
  padding-bottom: 30px;
}
header .catalog_menu ul li {
  width: 25%;
  text-align: center;
  background: #2d64bf;
}
header .catalog_menu ul li a {
  color: #fff;
  padding: 17px 10px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border-right: 1px solid #174897;
  letter-spacing: 0.4px;
}
header .catalog_menu ul li:first-child {
  background: #de052e;
}
header .catalog_menu ul li:last-child {
  border-right: none;
}
.main {
  background: #fff;
  padding: 0 30px;
  padding-bottom: 30px;
}
.main .breadcrumbs_box {
  margin-bottom: 15px;
}
.main .breadcrumbs_box ul > li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}
.main .breadcrumbs_box ul > li:before {
  content: "\f105";
  font-family: fontawesome;
  padding: 0 6px;
}
.main .breadcrumbs_box ul > li:first-child:before {
  display: none;
}
.main .breadcrumbs_box ul > li:last-child {
  letter-spacing: 3.5px;
  display: block;
  padding-top: 6px;
}
.main .breadcrumbs_box ul > li:last-child:before {
  display: none;
}
.promo_block_1 {
  text-align: center;
  padding-bottom: 30px;
}
.promo_block_1 .item {
  width: 25%;
}
.promo_block_1 p {
  font-size: 16px;
  line-height: 22px;
}
.promo_block_1 p span {
  font-weight: 900;
}
.promo_block_2 {
  background: #e9e9da;
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
  line-height: 20px;
}
.promo_block_2 .block_header {
  font-weight: 900;
  margin-bottom: 30px;
  font-size: 16px;
}
.promo_block_3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid #e9e9da;
}
.promo_block_3 .item {
  width: 25%;
  text-align: center;
}
.promo_block_3 .item .img_box {
  min-height: 70px;
}
.promo_block_3 .item img {
  padding-bottom: 15px;
}
.promo_block_3 .item p {
  font-size: 12px;
  line-height: 20px;
}
.promo_block_4 {
  padding-bottom: 30px;
}
.promo_block_4 img {
  max-width: 70px;
  padding-right: 10px;
}
.promo_block_4 .img_box {
  display: inline-block;
  padding-right: 20px;
}
.promo_block_4 .text_box {
  display: inline-block;
  font-weight: 900;
  line-height: 20px;
}
.promo_block_4 .text_box .more {
  text-decoration: none;
  color: #2d64bf;
  font-style: normal;
  padding-top: 10px;
  display: block;
}
.compare_tables {
  padding-bottom: 30px;
}
.product_carousel {
  overflow: hidden;
  width: 100%;
  padding-bottom: 30px;
}
.product_carousel .owl-item {
  display: inline-block;
  line-height: 0px;
}
.product_carousel .owl-item a {
  line-height: 0px;
}
.product_carousel .owl-nav.disabled {
  display: none;
}
.product_carousel .owl-dots .owl-dot span {
  background: #eaeff8;
  transition: 0.3s;
}
.product_carousel .owl-dots .owl-dot.active span,
.product_carousel .owl-dots .owl-dot:hover span {
  background: #2d64bf;
  cursor: pointer;
}
.compare_button {
  width: 60%;
  margin: 0 auto;
}
.compare_button img {
  position: relative;
  right: 10px;
  top: 6px;
  margin-top: -3px;
  margin-bottom: -3px;
}
.download_link {
  padding-left: 30px;
  color: #2d64bf;
  font-weight: 900;
  font-size: 16px;
  position: relative;
  display: block;
}
.download_link:before {
  content: "";
  height: 20px;
  width: 20px;
  display: block;
  background: url(../img/ios-download.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: -4px;
}
.button_block {
  margin-bottom: 30px;
}
.button_block span {
  padding: 8px;
  border: 1px solid #2d64bf;
  text-align: center;
  color: #2d64bf;
  font-size: 12px;
  display: inline-block;
  margin-right: -4px;
  margin-bottom: -1px;
  transition: 0.3s;
}
.button_block span:first-child {
  border-radius: 2px 0 0 0;
}
.button_block span:last-child {
  border-radius: 0 0 2px 0;
}
.button_block span.checked,
.button_block span:hover {
  color: #fff;
  background: #2d64bf;
  cursor: pointer;
}
.catalog_block {
  margin-bottom: 30px;
}
.catalog_block .catalog_box {
  margin-bottom: 30px;
  font-size: 10px;
  position: relative;
  z-index: 100;
}
.catalog_block .catalog_box p {
  padding-bottom: 20px;
  line-height: 16px;
  font-weight: 500;
}
.catalog_block .catalog_box .headers {
  width: 70px;
  padding-top: 158px;
}
.catalog_block .catalog_box .headers p {
  color: #2d64bf;
  text-transform: uppercase;
  font-weight: 900;
}
.catalog_block .catalog_box .item {
  width: 75px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  position: relative;
  z-index: 5;
}
.catalog_block .catalog_box .item:hover {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s;
}
.catalog_block .catalog_box .item a {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
.catalog_block .catalog_box .item .img_box {
  padding-bottom: 20px;
}
.catalog_block .catalog_box .item .img_box {
  padding: 8px;
}
.catalog_block .catalog_box .item .info {
  padding: 8px;
}
.catalog_block .catalog_box .item .info p:first-child {
  text-transform: uppercase;
  min-height: 55px;
  font-size: 10px;
  padding-bottom: 15px;
  line-height: 16px;
}
.catalog_block .catalog_box .item > div:nth-child(2n+3) .info {
  background: #f4f7fb;
}
.catalog_block .catalog_box.table_view p span {
  display: none;
}
.catalog_block .catalog_box.table_view .description {
  display: none;
}
.catalog_block .catalog_box.table_view .img_box {
  min-height: 95px;
}
.catalog_block .catalog_box.block_view .headers {
  display: none;
}
.catalog_block .catalog_box.block_view .item {
  width: 32%;
  display: flex;
}
.catalog_block .catalog_box.block_view .item .img_box {
  width: 40%;
}
.catalog_block .catalog_box.block_view .item .info {
  width: 60%;
  padding-left: 30px;
}
.catalog_block .catalog_box.block_view .item p {
  display: none;
}
.catalog_block .catalog_box.block_view .item .info .name {
  display: block;
  font-size: 16px;
  letter-spacing: 1.3px;
  padding-bottom: 5px;
  min-height: inherit;
}
.catalog_block .catalog_box.block_view .item .info .opt1 {
  display: block;
  font-size: 10px;
  letter-spacing: 2.1px;
  padding-bottom: 5px;
}
.catalog_block .catalog_box.block_view .item .info .description {
  display: block;
  font-size: 12px;
  line-height: 20px;
}
.catalog_block .catalog_box.block_view .item:hover .info .opt2,
.catalog_block .catalog_box.block_view .item:hover .info .opt3,
.catalog_block .catalog_box.block_view .item:hover .info .opt4 {
  background: #2d64bf;
  padding: 10px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  position: absolute;
  bottom: -55px;
  height: inherit!important;
}
.catalog_block .catalog_box.block_view .item:hover .info .opt2 span,
.catalog_block .catalog_box.block_view .item:hover .info .opt3 span,
.catalog_block .catalog_box.block_view .item:hover .info .opt4 span {
  font-size: 10px;
  padding-bottom: 5px;
  line-height: 1.4;
  display: block;
  font-weight: 400;
}
.catalog_block .catalog_box.block_view .item:hover .info .opt2 {
  display: block;
  right: 0px;
  width: 30%;
}
.catalog_block .catalog_box.block_view .item:hover .info .opt3 {
  display: block;
  left: 0%;
  width: 30%;
}
.catalog_block .catalog_box.block_view .item:hover .info .opt4 {
  display: block;
  left: 30%;
  width: 40%;
}
.product_block .product_illustration .main_img {
  width: 75%;
  padding-right: 15px;
}
.product_block .product_illustration .box_counter {
  width: 25%;
}
.product_block .product_illustration .box_counter p {
  font-size: 12px;
  color: #8b8b8b;
  margin-bottom: 10px;
  text-align: center;
}
.product_block .product_illustration .box_counter .counter div {
  height: 50px;
  width: 50px;
  border: 1px solid #2d64bf;
  border-top: 0px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  color: #2d64bf;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.product_block .product_illustration .box_counter .counter div:hover,
.product_block .product_illustration .box_counter .counter div.selected {
  background: #2d64bf;
  color: #fff;
}
.product_block .product_illustration .box_counter .counter div:hover .flag,
.product_block .product_illustration .box_counter .counter div.selected .flag {
  display: block;
}
.product_block .product_illustration .box_counter .counter div:first-child {
  border-radius: 2px 2px 0 0;
  border-top: 1px solid #2d64bf;
}
.product_block .product_illustration .box_counter .counter div:last-child {
  border-radius: 0 0 2px 2px;
  border-bottom: 1px solid #2d64bf;
}
.product_block .product_illustration .box_counter .counter div .flag {
  display: none;
  background: #de052e;
  padding: 5px 20px;
  color: #fff;
  position: absolute;
  left: -180px;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: none;
  width: auto;
  line-height: 20px;
  font-size: 14px;
}
.product_block .product_illustration .box_counter .counter div .flag:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 15px solid #de052e;
  border-bottom: 24px solid transparent;
  float: right;
  position: absolute;
  top: 0px;
  right: -15px;
}
.product_block .product_illustration .box_counter .counter div .flag:before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: #de052e;
  top: 20px;
  right: -30px;
  position: absolute;
}
.product_block .product_illustration .box_counter .counter div .flag span {
  font-size: 18px;
  display: block;
  font-weight: 600;
}
.product_block .product_info .block_header {
  color: #a90505;
  font-size: 18px;
  letter-spacing: 2.6px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product_block .product_info .subheader {
  color: #a90505;
  font-size: 14px;
  letter-spacing: 2.6px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product_block .product_info .product_param,
.product_block .product_info .selected_product_param {
  width: 100%;
  margin-bottom: 20px;
}
.product_block .product_info .product_param span,
.product_block .product_info .selected_product_param span {
  display: block;
  color: #8b8b8b;
  font-size: 12px;
  margin-bottom: 5px;
}
.product_block .product_info .product_param p,
.product_block .product_info .selected_product_param p {
  font-size: 24px;
  font-weight: 900;
}
.product_block .product_info .selected_product_param {
  margin-bottom: 30px;
}
.product_block .product_info .selected_product_param .fa {
  font-size: 16px;
}
.product_block .product_info .description {
  line-height: 20px;
  margin-bottom: 20px;
}
.product_block .product_info .download_link {
  margin-bottom: 40px;
}
.product_block .product_info .color_block .color_info {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
}
.product_block .product_info .color_block .drop_param {
  color: #2d64bf;
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.product_block .product_info .color_block .color_bar {
  width: 100%;
  background: #2d64bf;
  height: 10px;
  margin: 20px 0;
}
.product_block .product_info .color_block .body_color_box {
  margin-bottom: 40px;
}
.product_block .product_info .color_block .door_color_box {
  margin-bottom: 40px;
}
.product_block .product_info .additional_options_block {
  margin-bottom: 30px;
}
.product_block .product_info .additional_options_block .options {
  width: 65%;
  padding-right: 30px;
}
.product_block .product_info .additional_options_block .options .add_price {
  background: #e9e9da;
  color: #2d64bf;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
  min-width: 70px;
}
.product_block .product_info .additional_options_block .image {
  width: 35%;
  line-height: 0px;
}
.product_block .product_info .additional_options_block .image .title {
  background: #2d64bf;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  text-align: center;
}
footer {
  background: #fff;
  padding: 0 30px;
  background: url(../img/russia-vector-map-karta-rossii.png) no-repeat 80% 20% #fff;
  background-size: 70%;
}
footer .phone_row {
  margin-left: -30px;
  margin-right: -30px;
  background: rgba(45, 100, 191, 0.2);
  padding: 20px 30px;
  margin-bottom: 30px;
}
footer .phone_row .phone {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  width: 80%;
}
footer .phone_row .phone p {
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 0px;
}
footer .phone_row .phone span {
  color: #2d64bf;
  font-size: 32px;
  line-height: 38px;
  font-weight: 900;
  display: inline-block;
  position: relative;
  top: 2px;
}
footer .phone_row .button {
  width: 20%;
  text-align: right;
}
footer .phone_row .button .red_button {
  padding: 12px;
  margin-bottom: 0px;
}
footer .info_block {
  margin-bottom: 60px;
}
footer .info_block .logo_box {
  width: 35%;
}
footer .info_block .logo_box .logo {
  margin-bottom: 20px;
}
footer .info_block .logo_box .logo img {
  width: 165px;
  padding-bottom: 25px;
}
footer .info_block .logo_box .logo p {
  font-weight: 900;
  font-size: 12px;
  line-height: 18px;
}
footer .info_block .logo_box .worktime {
  margin-bottom: 25px;
}
footer .info_block .logo_box .worktime span {
  font-size: 12px;
  color: #8b8b8b;
  display: block;
  margin-bottom: 10px;
}
footer .info_block .logo_box .worktime p {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
footer .info_block .logo_box .worktime .warn {
  color: #ac0424;
  font-size: 12px;
  font-weight: 400;
}
footer .info_block .contact_info {
  width: 20%;
}
footer .info_block .contact_info .block_header {
  color: #7a0319;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
}
footer .info_block .contact_info .item {
  margin-bottom: 30px;
  font-size: 12px;
}
footer .info_block .contact_info .item p {
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 10px;
}
footer .info_block .contact_info .item span {
  display: block;
  margin-bottom: 5px;
  line-height: 16px;
}
footer .catalog_menu {
  margin-left: -30px;
  margin-right: -30px;
  background: #eaeff8;
  padding: 30px 0;
}
footer .catalog_menu ul {
  width: 70%;
  margin: 0 auto;
}
footer .catalog_menu ul li {
  text-transform: uppercase;
  font-size: 12px;
  color: #2d64bf;
  padding: 0 15px;
  font-weight: 900;
}
footer .catalog_menu ul li:before {
  content: "";
  height: 25px;
  width: 20px;
  display: inline-block;
  background: url(../img/postbox_ico_001.png) no-repeat center center;
  background-size: 100%;
  position: relative;
  right: 10px;
  top: 6px;
}
footer .bottom_nav {
  margin-left: -30px;
  margin-right: -30px;
}
footer .copyright {
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
  color: #8b8b8b;
}
