@import "../fonts/roboto/roboto.css";
.row {
  display: flex;
  flex-wrap: wrap;
}
.sb {
  justify-content: space-between;
}
.baseline {
  align-items: baseline;
}
.ct {
  justify-content: center;
}
.fe {
  justify-content: flex-end;
}
.fs {
  justify-content: flex-start;
}
.simple_row {
  margin-right: -20px;
  margin-left: -20px;
}
.one_half {
  width: 50%;
  padding: 0 20px;
}
.one_third {
  width: 33.33333333%;
  padding: 0 20px;
}
.two_third {
  width: 66.66666667%;
  padding: 0 20px;
}
.one_quarter {
  width: 25%;
  padding: 0 20px;
}
.one_fifth {
  width: 20%;
  padding: 0 20px;
}
.one_sixth {
  width: 16.66666667%;
  padding: 0 20px;
}
.main_font {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
strong {
  font-weight: 900;
}
.paddingStandart {
  padding-bottom: 30px;
}
.marginStandart {
  margin-bottom: 30px;
}
.textStandart {
  font-size: 14px;
  line-height: 22px;
  color: #00324c;
}
.form_control input,
.form_control textarea {
  width: 100%;
  padding: 12px;
  background: #fff;
  border: 1px solid #de052e;
  transition: 0.3s;
  margin-bottom: 20px;
}
.form_control input:focus,
.form_control textarea:focus {
  outline: none;
  border: 1px solid #de052e;
  box-shadow: 0 0 10px rgba(0, 0, 60, 0.4) inset;
}
.form_control textarea {
  min-height: 115px;
}
.red_button,
.form_control .red_button {
  text-decoration: none;
  color: #fff;
  background: #de052e;
  text-align: center;
  padding: 6px 20px;
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}
.red_button:hover,
.form_control .red_button:hover {
  opacity: 0.7;
}
.simple_button,
.form_control .simple_button {
  border: 1px solid #174897;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 10px;
}
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
  height: 30px;
  display: block;
  line-height: 22px;
  margin-bottom: 15px;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #f4f7fb;
  border: 1px solid #2d64bf;
  border-radius: 2px;
}
.checkbox:not(checked) + label:after {
  content: '\f00c';
  position: absolute;
  opacity: 0;
  font-family: fontawesome;
  color: #de052e;
  top: -1px;
  left: 4px;
  font-size: 22px;
  transition: all .2s;
}
.checkbox:checked + label:after {
  opacity: 1;
}
